body {
  margin:0px;
  background-color:rgba(134, 47, 58, 1);
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:rgba(0, 0, 0, 0.9921568627450981);
  text-align:center;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:91px;
  width:389px;
  height:99px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:rgba(0, 0, 0, 0.9921568627450981);
  text-align:center;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:rgba(0, 0, 0, 0.9921568627450981);
  text-align:center;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:240px;
  width:389px;
  height:122px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:rgba(0, 0, 0, 0.9921568627450981);
  text-align:center;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 173, 7, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:48px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1038px;
  width:170px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:48px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:74px;
  background:inherit;
  background-color:rgba(154, 0, 18, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:48px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1038px;
  width:173px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:48px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:514px;
  width:163px;
  height:126px;
  display:flex;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  transition:none;
  font-size:72px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:126px;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:468px;
  width:133px;
  height:136px;
  display:flex;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
  transition:none;
  font-size:72px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:136px;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:719px;
  width:140px;
  height:128px;
  display:flex;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
  transition:none;
  font-size:72px;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:128px;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:700px;
  width:177px;
  height:236px;
  display:flex;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
  transition:none;
  font-size:72px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:236px;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
