body {
  margin:0px;
  background-color:rgba(234, 155, 165, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:90px;
  width:304px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:147px;
  width:349px;
  height:226px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:721px;
  width:156px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:718px;
  width:50px;
  height:43px;
  display:flex;
  transition:none;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:495px;
  width:165px;
  height:151px;
  display:flex;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  transition:none;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:151px;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:454px;
  width:151px;
  height:245px;
  display:flex;
  transition:none;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:245px;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
