body {
  margin:0px;
  background-color:rgba(234, 155, 165, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:103px;
  width:708px;
  height:138px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:340px;
  width:769px;
  height:312px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:100px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1528px;
  width:544px;
  height:108px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:100px;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1462px;
  width:300px;
  height:286px;
  display:flex;
  transition:none;
  font-size:100px;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:286px;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:989px;
  width:275px;
  height:277px;
  display:flex;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  transition:none;
  font-size:36px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:277px;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:944px;
  width:261px;
  height:466px;
  display:flex;
  transition:none;
  font-size:36px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:466px;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
