body {
  margin:0px;
  background-color:rgba(134, 47, 58, 1);
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:130px;
  width:402px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:213px;
  width:320px;
  height:312px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1165px;
  width:372px;
  height:100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1275px;
  width:300px;
  height:286px;
  display:flex;
  transition:none;
  font-size:100px;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:286px;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:819px;
  width:164px;
  height:146px;
  display:flex;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  transition:none;
  font-size:36px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:146px;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:791px;
  width:187px;
  height:312px;
  display:flex;
  transition:none;
  font-size:36px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:312px;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
