body {
  margin:0px;
  background-color:rgba(234, 155, 165, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:137px;
  width:924px;
  height:152px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:90px;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:607px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:409px;
  width:1026px;
  height:607px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:100px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1663px;
  width:647px;
  height:119px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:100px;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:1565px;
  width:318px;
  height:315px;
  display:flex;
  transition:none;
  font-size:100px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:315px;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1074px;
  width:303px;
  height:305px;
  display:flex;
  -webkit-transform:rotate(335deg);
  -moz-transform:rotate(335deg);
  -ms-transform:rotate(335deg);
  transform:rotate(335deg);
  transition:none;
  font-size:36px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:305px;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:1005px;
  width:277px;
  height:514px;
  display:flex;
  transition:none;
  font-size:36px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:514px;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
